@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inconsolata:wght@300&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

@font-face {
    font-family: hedtech;
    src: url(fonts/Technopath.otf);
}

@font-face {
    font-family: tech;
    src: url(fonts/Technotot.otf);



}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-titulo);
}
:root{
    --azul-escuro: #00373D;
    --cinza: #86C1C8;
    --azul-claro: #00AABD;
    --cinza-escuro:#2C4042;
    --verde-escuro: #00818F;

    --preto: black;
    --barnco: white;

    --font-ptincipal: 'Open Sans', sans-serif;
    --font-hed: hedtech;
    --font-titulo:tech;
}
body{
    animation: bgc 15s ease infinite;
    background: linear-gradient(-40deg,var(--azul-claro),var(--azul-claro), var(--verde-escuro), var(--azul-escuro)) no-repeat;
    background-size: 300% 300%;
}
main{
    padding: 30px;
    background-color: var(--barnco);
    margin: auto;
    width: 650px;
    margin: 50px auto 30px auto;
    border-radius: 5px;
    box-shadow: 3px 2px 16px rgba(0, 0, 0, 0.295);
}
.cont{
    height: 220px;
    width: 450px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
header{
    position: relative;
    background-color: grey;
    height: 250px;

    background-color: var(--cinza-escuro);
    font-family: hedtech;
    color: white;
    border-radius: 10px;
    height: 100px;
    padding: 5px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.164);
    
}
header img{
    position: relative;
    height: 80px;
    margin-left: 130px;
    margin-right: 15px;
    
    display: flexbox;
}
h1{
    position: absolute;
    top: 50%;
    transform: translate(0,-66%);

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    display: inline;
}
h1 > a{
    color: var(--barnco);
    font-family: var(--font-ptincipal);
}
h2{
    padding: 2px;
    padding-left: 10px;
    border-radius: 4.3px 0px 0px 4.3px;
    width: 400px;
    margin: 25px 10px 10px 10px;
    background:  linear-gradient( 50deg,var(--azul-claro),transparent, var(--barnco));
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.627);
}
p{
    padding: 10px 0px;
    text-indent: 20px;
    font-family: var(--font-ptincipal);
}
a{
    text-decoration: none;
    color: var(--azul-claro);
}

div#conteudo{
    display: flex
}
#form{
    position: relative;
    display: block;
    width: 100px;
    margin-top: 30px;
}
#form label{
    text-indent: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
    font-family: var(--font-ptincipal);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form input{
    text-indent: 0px;
    width: 150%;
    padding: 10px;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    font-family: var(--font-ptincipal);
    font-size: 16px;
    margin-bottom: 30px;
}
#form input:focus~label, 
#form input:valid~label{
    top: -22px;
    font-size: 11px;
    left: 0px;
}
div.used{
    position: relative;
}
#form button{
    margin-top: 15px;
    background-color: var(--azul-escuro);
    border: none;
    font-weight: bold;
    padding: 9px;
    color: var(--barnco);
    font-family: var(--font-ptincipal);
    width: 170px;
    border-radius: 100px;
    box-shadow: -1.1px 5px 10px rgba(0, 0, 0, 0.418);
}

#bnav button{
    background-color: var(--azul-escuro);
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: -5px 2px 8px rgba(0, 0, 0, 0.24);
    height: 40px;
    color: white;
    transform: translate(-50%);

}

table{
    position: absolute;
    top: 0%;
    height: 270px;
    overflow: auto;
    margin-left: 230px;
    border-width: 7px;

    border: 6px solid var(--cinza-escuro);


    border-collapse: collapse;
}
tr:nth-child(2n){
    background-color: rgba(218, 218, 218, 0.637);
}
th{
    height: 30px;
    padding: 4px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    text-align: center;
    height: 15px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
tfoot > td{
    height: 0px;
}
@keyframes bgc{
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0%, 50%;
    }
}

@media screen and (max-width: 375px){
    header{
        border-radius: 5px 5px 0px 0px;
    }
    h1{
        font-size: 29px;
    }
    header > img{
        margin: 0px;
    }
    main{
        margin: 20px 0px;
        width: 300px;
        padding: 0px;
    }
    img.cont{
        height: 220px;
        width: 100%;
    }
    p{
        text-indent: 0px;
        margin-left: 10px;
    }
    h2{
        width: 270px;
        background:  linear-gradient(50deg ,var(--azul-claro),transparent, transparent);
        margin: 10px 3px;
    }
}


@media screen and (max-width: 500px){
    header{
        border-radius:0px;
        max-width: 100%;
        min-width: 335px;
    }
    h1{
        font-size: 29px;
    }
    header > img{
        margin: 0px;
    }
    main{
        margin: 0px auto auto auto;
        max-width: 425px;
        min-width: 345px;
        padding: 0px;
    }
    img.cont{
        margin: auto;
        max-width: 400px;
        min-width: 340px;
    }
    p{
        width: 320px;
        text-indent: 0px;
        margin-left: 10px;
    }

    h2{
        max-width: 400px;
        min-width: 320px;
        background:  linear-gradient(50deg ,var(--azul-claro),transparent, transparent);
        margin: 10px 3px;
    }
    div.conteudo{
        display: block;
    }
    div.used{
        margin-left: 100px;
    }
    #form input{
        width: 120px;
    }
    #form{
        width: 330px;
    }
    button{

        margin-left: 90px;
        margin-bottom: 25px;
    }
    
    table{
        position: relative;
        margin-left: 10px;
        margin-bottom: 30px;

        overflow-x: auto;
    }
    div#conteiner{
        overflow-x: auto;
    }
}
@media screen and (max-width: 375px){
    main{
        margin: auto;
        width: 400px;
    }
}